<script>

$(function() {
  
  var socket = io.connect("<%- socketConnectionString %>");

  socket.on('connect', function() {

    //Get the list of users
    socket.on('usersListToAdmin', function(users) {
      for (var i in users) {
          var user=users[i];
          $("#users").append("<div class='user' id='"+ user.ip +"'>"+user.ip +":"+ user.port+" - "+ user.browser+"</div>");
        }
      $(".user").click(function(e){
        socket.emit('adminWantsToTrack',$(this).attr('id'));
      });
    });
      
    socket.on('hrefToAdmin', function(href) {
      $('#frame').attr('src', href);
    });
    
    socket.on('userActionToAdmin', function(action) {
      if (action.action == 'move' ) {}//simulateKeyPress(action.act.character);
      else if (action.action == 'click') {
        $("#userActions").append(' '+action.x+'-'+action.y+' ');
        simulateClick(action.x, action.y);
      }
      else if (action.action == 'keypress') {
        alert(action.key);
        simulateKeyPress('k');
        //$('#myInputId').trigger(jQuery.Event('keypress', {which: 13}));
      }
    });
    
    socket.emit('adminConnected');
  });
  
  socket.on('disconnect',function() {
    console.log('The client has disconnected!');
  });
  

});

</script>

<div id="users"></div >
<div id="userHtml"></div>
<div id="userActions"></div>
<a href='/view1'>1 - Live 1-User Replay</a>
<p>
<a href='/view2'>2 - Retro 1-user Replay</a>
<p>
<a href='/view3'>3 - Live HeatMap</a>
<p>
<a href='/view4'>4 - Live ClickMap</a>
<p>
<a href='/view5'>5 - Retro Global heat-map</a>
<p>
<a href='/view6'>6 - Retro Global click-map</a>
<p>
<a href='/page1'>Test page</a>
<p>
<a href='/page2'>Test page - Pokerstars</a>
<p>