<html>
    <head>
        <title><%= title %></title>
        <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
        <script src='/socket.io/socket.io.js'></script>
        <script src='/javascripts/jquery.svg.min.js'></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
        <script src="/javascripts/jquery.svganim.min.js"></script>
        <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
        
        <script src='http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js'></script>
        <link href='http://datatables.net/release-datatables/media/css/demo_table.css' media="screen" rel="stylesheet" type="text/css" />
        <link href='http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css' media="screen" rel="stylesheet" type="text/css" />
        
        <script src="http://trentrichardson.com/examples/timepicker/js/jquery-ui-sliderAccess.js"></script>
        
        <script src="http://trentrichardson.com/examples/timepicker/js/jquery-ui-timepicker-addon.js"></script>
        <link type="text/css" href="http://trentrichardson.com/examples/timepicker/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet">
    </head>
    <body>
        <%-body%>      
   </body>
</html>