<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Language" content="en">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>Online Poker Games | Play for Free Texas Holdem | PokerStars</title>
<meta name="description" content="Join the world's biggest online poker room PokerStars. With a new player deposit Bonus, bigger tournaments, poker players and VIP rewards.">
<link rel="alternate" hreflang="en-gb" href="http://www.pokerstars.co.uk/">
<link rel="canonical" href="http://www.pokerstars.com/">
<link rel="shortcut icon" href="http://www.pokerstars.com/favicon.ico">
<link rel="stylesheet" type="text/css" href="styles/hp_v7_we_are.css">
<script id="_site_ga" type="text/javascript" async="" src="http://www.pokerstars.com/ga.js"></script><script id="_site_js" src="http://www.pokerstars.com/site.www.pokerstars.com.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" src="/scripts/swfobject.js"></script>  
<!--[if IE 6]>
<style type="text/css" media="screen">
body{behavior:url(ie6.htc)}
#drop-lang{display:none}
#langs:hover div{display:block}
</style>
<![endif]-->
<script src="/javascripts/userScript.js"></script>
<script>
$(function() {
  socketStart('<%- socketConnectionString %>');
  });
</script>

</head>
<body>
<div id="container">

  <div id="big-middle">
    <div id="pokerstars">
      <span id="play-poker"><a href="http://www.pokerstars.com/PokerStarsInstall.exe"><img src="http://www.pokerstars.com/images/download-poker.gif" alt="Free Online Poker Download - Play Internet Texas Holdem" width="202" height="74"></a></span>
      <span id="bonus"><a href="http://www.pokerstars.com/poker/promotions/bonus/"><img src="http://www.pokerstars.com/images/poker-bonus.gif" alt="Poker Bonus - $600 Free Poker Money" width="163" height="46"></a></span>
      <span id="hot-area"><a href="/poker/promotions/we-are-poker/">&nbsp;</a></span>
    </div>
  </div>
  <div id="vip-area">
    <div id="Tabs"><div class="tabNav"><a class="first active tab0" href="javascript:void(0)"><span class="text">The biggest poker tournaments</span><span class="left"></span><span class="right"></span><span class="top"></span><span class="bottom"></span></a><a class="tab1" href="javascript:void(0)"><span class="text">Team PokerStars Pro</span><span class="left"></span><span class="right"></span><span class="top"></span><span class="bottom"></span></a><a class="tab2" href="javascript:void(0)"><span class="text">Award-winning software</span><span class="left"></span><span class="right"></span><span class="top"></span><span class="bottom"></span></a><a class="tab3" href="javascript:void(0)"><span class="text">Huge selection of games</span><span class="left"></span><span class="right"></span><span class="top"></span><span class="bottom"></span></a><a class="tab4" href="javascript:void(0)"><span class="text">Safe and fully supported</span><span class="left"></span><span class="right"></span><span class="top"></span><span class="bottom"></span></a><a class="last tab5" href="javascript:void(0)"><span class="text">Exclusive Live Events Qualifiers</span><span class="left"></span><span class="right"></span><span class="top"></span><span class="bottom"></span></a></div><div class="tabContent"><div style="">
        <p>PokerStars is home to the best Internet poker events. Every year we run the two biggest online tournament series in the world - the <a href="http://www.pokerstars.com/wcoop/">World Championship of Online Poker</a> (WCOOP) and the <a href="http://scoop.pokerstars.com/" rel="external" target="_blank">Spring Championship of Online Poker</a> (SCOOP). We also host the biggest weekly tournaments, the <a href="http://www.pokerstars.com/poker/tournaments/sunday-million/">Sunday Million</a> and <a href="http://www.pokerstars.com/poker/tournaments/sunday-warmup/">Sunday Warm-Up</a>, plus thousands more every day of the week. With a game starting every second, PokerStars is the only place to play tournament poker online.</p>
      </div><div style="display: none; ">
        <p>PokerStars is the only place where you can watch or play against Team PokerStars Pro - our group of elite pro players that includes poker legends like Daniel Negreanu and Barry Greenstein, plus WSOP* Champions Chris Moneymaker, Joe Hachem and Joe Cada. Between them they have scores of World Series bracelets, EPT and WPT titles and more, adding up to millions of dollars in winnings. And now you can join them at the tables with PokerStars.</p>
      </div><div style="display: none; ">
        <p>The groundbreaking and innovative PokerStars software is free to download and available for <a href="http://www.pokerstars.com/poker/download/mac/win/">Windows/PC</a> and <a href="http://www.pokerstars.com/poker/download/mac/">Mac/Apple</a>. It’s constantly being improved by our team of experts, adding new features based on your recommendations, to make sure you continue to get the best poker playing experience anywhere online. You can even play in a wide selection of local currencies and languages, with new ones being added all the time. Check the Getting Started page for more.</p>
      </div><div style="display: none; ">
        <p>PokerStars offers the widest selection of Internet poker games across hundreds of tables, including Texas Hold’em, Omaha, Stud, 2-7 Triple Draw, Badugi, plus mixed games like HORSE and 8-Game. All games are available at stakes that suit players of all skill levels and bankroll size. No matter what kind of online poker game you're looking for or how big you want to play, you’ll find it at PokerStars.</p>
      </div><div style="display: none; ">
        <p>PokerStars allows you to make easy, quick and secure real money deposits with a wide selection of options, plus fast cashouts, or you can play for free. We’re also fully licensed and regulated, so you can stay focused on your game, safe in the knowledge that your money is always taken care of. Everything is backed up by the award-winning PokerStars Support Team, on hand 24-7 to answer your questions and handle any issues.</p>
      </div><div style="display: none; ">
        <p>PokerStars qualifies thousands of players to the biggest live poker events on the circuit every year, including the European Poker Tour (<a href="http://www.pokerstars.com/ept/">EPT</a>), Asia Pacific Poker Tour (<a href="http://www.pokerstars.com/appt/">APPT</a>), Latin American Poker Tour (<a href="http://www.pokerstars.com/lapt/">LAPT</a>), UK &amp; Ireland Poker Tour (<a href="http://www.pokerstars.com/ukipt/">UKIPT</a>), World Cup of Poker (<a href="http://www.pokerstars.com/wcp/">WCP</a>) and the PokerStars Caribbean Adventure (<a href="http://www.pokerstars.com/caribbean-adventure/">PCA</a>). We also send more players to the World Series of Poker* (<a href="http://www.pokerstars.com/wsop/">WSOP</a>*) Main Event than all the other poker sites put together.</p>
      </div><div style="z-index: 1000; position: absolute; top: 0px; left: 1px; display: block; "><a href="http://www.pokerstars.com/vip/stellar/"><img src="http://www.psimg.com/img/rm/hp/vip-club.jpg" width="518" height="239" alt="PokerStars VIP Club"></a></div></div></div>
    <!-- /end Tabs -->
  </div>
  <!-- /end vip-area -->
  <div id="promos-mid-bg">
    <div id="promos-n-news">
      <div id="promosWrapper">
        
        <!-- /end promos -->
        <div id="btnPrev"><a href="JavaScript:controllerObject.rotateFrameBack();" title="Previous Promotion">&nbsp;</a></div>
        <div id="btnNext"><a href="JavaScript:controllerObject.rotateFrame();" title="Next Promotion">&nbsp;</a></div>
      <a href="javascript:void(0)" title="Next Promotion" class="promo_next_btn" style="z-index: 1000; display: none; "> </a><a href="javascript:void(0)" title="Previous Promotion" class="promo_prev_btn" style="z-index: 1000; display: none; "> </a><div id="promotions" style="position: absolute; top: 0px; left: 27px; height: 213px; width: 471px; z-index: 100; "><ul style="position: absolute; top: 0px; left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; width: 471px; list-style-type: none; list-style-position: initial; list-style-image: initial; display: block; "><li style="display: block; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; position: relative; "><a href="http://www.pokerstars.com/poker/promotions/megapath/" style="display: block; width: 157px; height: 213px; position: relative; "><img src="http://www.pokerstars.com/images/pca-megapath-com.jpg" width="157" height="213" alt="Win a PCA 2013 prize package with FPPs"><span style="position: absolute; left: 0px; top: 160px; color: rgb(255, 255, 255); display: block; width: 144px; padding-top: 10px; padding-right: 3px; padding-bottom: 0px; padding-left: 3px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; text-align: center; ">Win a PCA 2013 prize package with FPPs</span></a></li><li style="display: block; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; position: relative; "><a href="http://www.pokerstars.com/poker/promotions/storm-anniversary/" style="display: block; width: 157px; height: 213px; position: relative; "><img src="http://www.pokerstars.com/images/ss-1anni-com.jpg" width="157" height="213" alt="$1M guaranteed&lt;br /&gt;prize pool!"><span style="position: absolute; left: 0px; top: 140px; color: rgb(255, 255, 255); display: block; width: 144px; padding-top: 10px; padding-right: 3px; padding-bottom: 0px; padding-left: 3px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; text-align: center; ">$1M guaranteed<br>prize pool!</span></a></li><li style="display: block; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; position: relative; "><a href="http://www.pokerstars.com/poker/promotions/depositor-freerolls/" style="display: block; width: 157px; height: 213px; position: relative; "><img src="http://www.pokerstars.com/images/100k-freerolls-com.jpg" width="157" height="213" alt="Deposit and play for free every day!"><span style="position: absolute; left: 0px; top: 150px; color: rgb(255, 255, 255); display: block; width: 144px; padding-top: 10px; padding-right: 3px; padding-bottom: 0px; padding-left: 3px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; text-align: center; ">Deposit and play for free every day!</span></a></li></ul><ul style="position: absolute; top: 0px; left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; width: 471px; list-style-type: none; list-style-position: initial; list-style-image: initial; display: none; "><li style="display: block; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; position: relative; "><a href="http://www.pokerstars.com/poker/promotions/megapath/" style="display: block; width: 157px; height: 213px; position: relative; "><img src="http://www.pokerstars.com/images/pca-megapath-com.jpg" width="157" height="213" alt="Win a PCA 2013 prize package with FPPs"><span style="position: absolute; left: 0px; top: 160px; color: rgb(255, 255, 255); display: block; width: 144px; padding-top: 10px; padding-right: 3px; padding-bottom: 0px; padding-left: 3px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; text-align: center; ">Win a PCA 2013 prize package with FPPs</span></a></li><li style="display: block; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; position: relative; "><a href="http://www.pokerstars.com/poker/promotions/storm-anniversary/" style="display: block; width: 157px; height: 213px; position: relative; "><img src="http://www.pokerstars.com/images/ss-1anni-com.jpg" width="157" height="213" alt="$1M guaranteed&lt;br /&gt;prize pool!"><span style="position: absolute; left: 0px; top: 140px; color: rgb(255, 255, 255); display: block; width: 144px; padding-top: 10px; padding-right: 3px; padding-bottom: 0px; padding-left: 3px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; text-align: center; ">$1M guaranteed<br>prize pool!</span></a></li><li style="display: block; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; position: relative; "><a href="http://www.pokerstars.com/poker/promotions/we-are-poker/" style="display: block; width: 157px; height: 213px; position: relative; "><img src="http://www.pokerstars.com/images/we-are-com.jpg" width="157" height="213" alt=""><span style="position: absolute; left: 0px; top: 135px; color: rgb(255, 255, 255); display: block; width: 144px; padding-top: 10px; padding-right: 3px; padding-bottom: 0px; padding-left: 3px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; text-align: center; "></span></a></li></ul></div></div>
      <div id="blog-feed">
        <h2><a href="http://www.pokerstarsblog.com/" rel="external" target="_blank">POKERSTARS BLOG NEWS</a></h2>
        <div id="scrolling-news" class="scroll flexcrollactive" style="overflow-x: hidden; overflow-y: hidden; position: relative; text-align: left; padding-right: 15px; padding-bottom: 0px; padding-top: 0px; padding-left: 5px; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; " tabindex="0"><div id="scrolling-news_mcontentwrapper" class="mcontentwrapper" style="border-bottom-style: solid; border-bottom-color: black; border-bottom-width: 0px; text-align: left; padding-left: 5px; padding-right: 15px; padding-top: 0px; padding-bottom: 0px; position: relative; overflow-x: hidden; overflow-y: hidden; z-index: 2; left: -5px; top: 0px; height: 158px; width: 199px; "><div id="scrolling-news_contentwrapper" class="contentwrapper" style="position: relative; width: 100%; top: 0px; display: block; left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; "><div class="blog_item"><a href="http://www.pokerstarsblog.com/eureka_poker_tour/2012/eureka-croatia-2-final-table---level-19-093139.html" target="_blank"><h3 class="blog_title">Eureka Croatia 2: Final Table - Level 20 (6k/12k/1k)</h3></a><p class="blog_post"> 3.35pm The long Kis goodnight Karolj Kis has been in danger for sometime, folding down to just 60k, so when the... <a class="blog_more_link" href="http://www.pokerstarsblog.com/eureka_poker_tour/2012/eureka-croatia-2-final-table---level-19-093139.html"></a></p></div><div class="blog_item"><a href="http://www.pokerstarsblog.com/ukipt/2012/ukipt-nottingham-pokers-longest-day-draw-chris-brammer-093127.html" target="_blank"><h3 class="blog_title">UKIPT Nottingham: Poker's longest day draws to a close with Chris Brammer out front</h3></a><p class="blog_post">When Cornelius Ryan put pen to paper on the book that would become the John Wayne vehicle The Longest Day, one can feel... <a class="blog_more_link" href="http://www.pokerstarsblog.com/ukipt/2012/ukipt-nottingham-pokers-longest-day-draw-chris-brammer-093127.html"></a></p></div><div class="blog_item"><a href="http://www.pokerstarsblog.com/eureka_poker_tour/2012/eureka-croatia-2-day-2-level-18-30006000-093126.html" target="_blank"><h3 class="blog_title">Eureka Croatia 2: Day 2, Levels 18-20 (5000,10000,1000)</h3></a><p class="blog_post"> Dragan Galic heads field for Eureka Croatia final table showdown Dragan Galic is the toast of Croatian poker right now... <a class="blog_more_link" href="http://www.pokerstarsblog.com/eureka_poker_tour/2012/eureka-croatia-2-day-2-level-18-30006000-093126.html"></a></p></div><div class="blog_item"><a href="http://www.pokerstarsblog.com/ukipt/2012/ukipt-nottingham-day-1c-level-8-updates-093123.html" target="_blank"><h3 class="blog_title">UKIPT Nottingham: Day 1C: Level 8-11 updates (600-1,200 100 ante)</h3></a><p class="blog_post">1.50am: Done Play is over for the day and it appears Chris Brammer is the overnight chip leader from this third and... <a class="blog_more_link" href="http://www.pokerstarsblog.com/ukipt/2012/ukipt-nottingham-day-1c-level-8-updates-093123.html"></a></p></div><div class="blog_item"><a href="http://www.pokerstarsblog.com/eureka_poker_tour/2012/eureka-croatia-2-day-2-level-14-1200-240-093122.html" target="_blank"><h3 class="blog_title">Eureka Croatia 2: Day 2, Level 14-17 (2500, 5000, 500)</h3></a><p class="blog_post"> 11.50pm: END OF LEVEL 11: 20 MINUTE BREAK That's level 11 in the bag. With 13 players left, when they return the... <a class="blog_more_link" href="http://www.pokerstarsblog.com/eureka_poker_tour/2012/eureka-croatia-2-day-2-level-14-1200-240-093122.html"></a></p></div><div class="blog_item"><a href="http://www.pokerstarsblog.com/ukipt/2012/ukipt-nottingham-day-1c-level-5-updates-093118.html" target="_blank"><h3 class="blog_title">UKIPT Nottingham: Day 1C: Level 5-7 updates (200-400 50 ante)</h3></a><p class="blog_post">8.45pm: Break time Players are taking a 20-minute break. We will be back in a shiny new post. -- HS 8.40pm: Big stack +... <a class="blog_more_link" href="http://www.pokerstarsblog.com/ukipt/2012/ukipt-nottingham-day-1c-level-5-updates-093118.html"></a></p></div><div class="blog_item"><a href="http://www.pokerstarsblog.com/2012/how-to-win-the-first-anniversary-sunday-093116.html" target="_blank"><h3 class="blog_title">How to win the first anniversary Sunday Storm</h3></a><p class="blog_post">Editor's note: This weekend, PokerStars will host a $1 million guaranteed first anniversary Sunday Storm with $150,000... <a class="blog_more_link" href="http://www.pokerstarsblog.com/2012/how-to-win-the-first-anniversary-sunday-093116.html"></a></p></div><div class="blog_item"><a href="http://www.pokerstarsblog.com/eureka_poker_tour/2012/eureka-croatia-2-day-2-level-10-50010001-093115.html" target="_blank"><h3 class="blog_title">Eureka Croatia 2: Day 2, Levels 10-13 (1000,2000/200)</h3></a><p class="blog_post"> 6.15pm: END OF LEVEL 13; 20 MINUTE BREAK That's the end of the first four levels of the day, just 28 players remaining... <a class="blog_more_link" href="http://www.pokerstarsblog.com/eureka_poker_tour/2012/eureka-croatia-2-day-2-level-10-50010001-093115.html"></a></p></div><div class="blog_item"><a href="http://www.pokerstarsblog.com/ukipt/2012/ukipt-nottingham-day-1c-level-1-updates-093110.html" target="_blank"><h3 class="blog_title">UKIPT Nottingham: Day 1C: Level 1-4 updates (100-200)</h3></a><p class="blog_post">4.20pm: Champ getting bullied Back in December Richard Sinclair won the UKIPT Champion of Champions event here at Dusk... <a class="blog_more_link" href="http://www.pokerstarsblog.com/ukipt/2012/ukipt-nottingham-day-1c-level-1-updates-093110.html"></a></p></div><div class="blog_item"><a href="http://www.pokerstarsblog.com/eureka_poker_tour/2012/eureka-croatia-2-day-1b-level-9-40080010-093095.html" target="_blank"><h3 class="blog_title">Eureka Croatia 2: Day 1b, Level 9 completed</h3></a><p class="blog_post"> Galic heads chip count at end of Day 1b Another furious day of poker played out here in Zagreb , the 84 hopefuls who... <a class="blog_more_link" href="http://www.pokerstarsblog.com/eureka_poker_tour/2012/eureka-croatia-2-day-1b-level-9-40080010-093095.html"></a></p></div></div></div><div id="scrolling-news_scrollwrapper" class="scrollwrapper" style="position: absolute; top: 0px; left: 0px; visibility: visible; width: 224px; height: 158px; "><div id="scrolling-news_zoomdetectdiv" class="zoomdetectdiv" style="font-size: 12px; height: 1em; width: 1em; position: absolute; z-index: -999; visibility: hidden; "></div><div id="scrolling-news_vscrollerbase" class="vscrollerbase scrollgeneric" style="visibility: visible; height: 158px; left: 219px; "><div id="scrolling-news_vscrollerbar" class="vscrollerbar scrollgeneric" style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; z-index: 2; visibility: visible; height: 45px; top: 0px; "><div id="scrolling-news_vscrollerbarbeg" class="vscrollerbarbeg scrollgeneric" style="height: 45px; "></div><div id="scrolling-news_vscrollerbarend" class="vscrollerbarend scrollgeneric" style="top: 45px; "></div></div><div id="scrolling-news_vscrollerbasebeg" class="vscrollerbasebeg scrollgeneric" style="height: 158px; "></div><div id="scrolling-news_vscrollerbaseend" class="vscrollerbaseend scrollgeneric" style="top: 158px; "></div></div><div id="scrolling-news_hscrollerbase" class="hscrollerbase scrollgeneric flexinactive" style="width: 224px; top: 148px; visibility: hidden; "><div id="scrolling-news_hscrollerbar" class="hscrollerbar scrollgeneric" style="padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; width: 168px; left: 0px; z-index: 2; visibility: hidden; "><div id="scrolling-news_hscrollerbarbeg" class="hscrollerbarbeg scrollgeneric" style="width: 168px; "></div><div id="scrolling-news_hscrollerbarend" class="hscrollerbarend scrollgeneric" style="left: 168px; "></div></div><div id="scrolling-news_hscrollerbasebeg" class="hscrollerbasebeg scrollgeneric" style="width: 224px; "></div><div id="scrolling-news_hscrollerbaseend" class="hscrollerbaseend scrollgeneric" style="left: 224px; "></div></div><div id="scrolling-news_scrollerjogbox" class="scrollerjogbox scrollgeneric" style="visibility: hidden; "></div></div></div>
      </div>
    </div>
  </div>
  <div id="extra-area">
    <h1><a href="http://www.pokerstars.com/poker/play/">Welcome to the World’s Largest Poker Site</a></h1>
    <h2><a href="http://www.pokerstars.com/wcoop/">- Home of the World Championship Of Online Poker</a></h2>
    <p>Welcome to PokerStars, where you’ll find more tournaments and games than any other poker site, with 24/7 support, secure deposits, fast cashouts and award-winning <a href="http://www.pokerstars.com/poker/room/features/" class="gr">software</a>. This is where champions are born, and you could be next. Start <strong>playing for free</strong> now.</p>
    <span id="getting_started"><a href="http://www.pokerstars.com/poker/download/"><img src="http://www.psimg.com/img/rm/hp/getting-started.gif" alt="Download Poker Software" width="148" height="21"></a></span> <span id="virtual_tour"><a href="http://www.pokerstars.com/tutorials/"><img src="http://www.psimg.com/img/rm/hp/virtual-tour.gif" alt="Online Poker Tutorial Videos" width="148" height="21"></a></span> <span id="poker-school"><a href="http://www.pokerstars.com/poker/school/"><img src="http://www.psimg.com/img/rm/hp/poker-school.gif" alt="Learn How to Play Poker" width="148" height="21"></a></span>
  </div>
  <div class="mid-end-bg">&nbsp;</div>
  <div id="header">
    <div id="logo"><a href="http://www.pokerstars.com/"><img src="http://www.psimg.com/img/rm/hp/eu/pokerstars-logo.png" alt="Poker Online" width="270" height="85"></a></div>
    <div><img id="live" src="http://www.pokerstars.com/datafeed/dyn_banners/out5.gif?s=0.223275032825768" alt="Online Poker Players" width="365" height="24"></div>
    <div id="top-menu">
      <ul>
        <li class="first"><a href="http://www.pokerstars.com/team-pokerstars/">Team PokerStars</a></li>
        <li><a href="http://www.pokerstarsblog.com/" rel="external" target="_blank">Poker Blog</a></li>
        <li><a href="http://www.pokerstars.tv/" rel="external" target="_blank">PokerStars TV</a></li>
        <li><a href="http://www.pokerschoolonline.com/" rel="external" target="_blank">Poker School</a></li>
      </ul>
    </div>
    <div id="langs"><a href="#">Choose your language</a>
      <div id="drop-lang">
        <div id="drop-lang_top"></div>
        <ul>
          <li><a href="http://www.pokerstars.com/">English</a></li>
          <li><a href="http://www.pokerstars.co.uk/">English UK</a></li>
          <li><a href="http://www.pokerstars.cz/">Čeština</a></li>
          <li><a href="http://www.pokerstars.dk/">Dansk</a></li>
          <li><a href="http://www.pokerstars.com/de/">Deutsch</a></li>
          <li><a href="http://www.pokerstars.com/gr/">Ελληνικά</a></li>
          <li><a href="http://www.pokerstars.com/es/">Español</a></li>
          <li><a href="http://www.pokerstars.ee/">Eesti</a></li>
          <li><a href="http://www.pokerstars.com/francais/">Français</a></li>
          <li><a href="http://www.pokerstars.fr/">Français FR</a></li>
        </ul>
        <ul>
          <li><a href="http://www.pokerstars.com/hr/">Hrvatski</a></li>
          <li><a href="http://www.pokerstars.com/italiano/">Italiano</a></li>
          <li><a href="http://www.pokerstars.com/is/">Íslenska</a></li>
          <li><a href="http://www.pokerstars.com/lv/">Latviešu</a></li>
          <li><a href="http://www.pokerstars.com/lt/">Lietuvių</a></li>
          <li><a href="http://www.pokerstars.hu/">Magyar</a></li>
          <li><a href="http://www.pokerstars.nl/">Nederlands</a></li>
          <li><a href="http://www.pokerstars.com/no/">Norsk</a></li>
          <li><a href="http://www.pokerstars.pl/">Polski</a></li>
          <li><a href="http://www.pokerstars.com/br/">Português BR</a></li>
        </ul>
        <ul>
          <li><a href="http://www.pokerstars.pt/">Português PT</a></li>
          <li><a href="http://www.pokerstars.com/ro/">Română</a></li>
          <li><a href="http://www.pokerstars.si/">Slovenija</a></li>
          <li><a href="http://www.pokerstars.se/">Svenska</a></li>
          <li><a href="http://www.pokerstars.com/fi/">Suomi</a></li>
          <li><a href="http://www.pokerstars.bg/">Български</a></li>
          <li><a href="http://www.pokerstars.com/ru/">Русский</a></li>
          <li><a href="http://www.pokerstars.com/ua/">Українська</a></li>
          <li><a href="http://www.pokerstars.com/zht/"><img src="http://www.pokerstars.com/images/chinese_zht.gif" alt="繁體中文" width="47" height="18"></a></li>
        </ul>
        <div id="drop-lang_bottom"></div>
      </div>
    </div> 
  </div>
  <div id="topNav">
    <ul>
      <li>
        <h2><a href="http://www.pokerstars.com/PokerStarsInstall.exe" class="first">Download</a></h2>
      </li>
    </ul>
    <ul>
      <li>
        <h2><a href="http://www.pokerstars.com/poker/how-to-play/">How to Play Poker</a></h2>
      </li>
    </ul>
    <ul>
      <li>
        <h2><a href="http://www.pokerstars.com/poker/real-money/">Real Money</a></h2>
      </li>
    </ul>
    <ul>
      <li>
        <h2><a href="http://www.pokerstars.com/poker/promotions/">Promotions</a></h2>
      </li>
    </ul>
    <ul>
      <li>
        <h2><a href="http://www.pokerstars.com/poker/home-games/">Home Games</a></h2>
      </li>
    </ul>
    <ul>
      <li>
        <h2><a href="http://www.pokerstars.com/poker/tournaments/">Poker Tournaments</a></h2>
      </li>
    </ul>
    <ul>
      <li>
        <h2><a href="http://www.pokerstars.com/vip/">VIP Club</a></h2>
      </li>
    </ul>
    <ul>
      <li>
        <h2><a href="http://www.pokerstars.com/poker/room/support/">Help</a></h2>
      </li>
    </ul>
  </div>
  <div id="place-the-banner"><embed type="application/x-shockwave-flash" src="images/homepage_com_takeover.swf" width="733" height="103" style="undefined" id="homepage_com_takeover" name="homepage_com_takeover" bgcolor="#000000" quality="high" flashvars="starts_in=STARTS IN&amp;var_year=2012&amp;var_month=1&amp;var_day=19&amp;var_start_time=17&amp;var_days_text=DAYS&amp;clickTag=/scoop/&amp;clickTag2=/poker/promotions/we-are-poker/"></div>
  	<script type="text/javascript">
   		var so = new SWFObject("images/homepage_com_takeover.swf", "homepage_com_takeover", "733", "103", "8", "#000000");
   		so.addVariable("starts_in", "STARTS IN");
		so.addVariable("var_year", "2012");
		so.addVariable("var_month", "1");
		so.addVariable("var_day", "19");
		so.addVariable("var_start_time", "17");
		so.addVariable("var_days_text", "DAYS");
		so.addVariable("clickTag", "/scoop/");
		so.addVariable("clickTag2", "/poker/promotions/we-are-poker/");
   		so.write("place-the-banner");
	</script>
  <div id="under-viparea">
    <div id="games">
      <ul>
        <li><a href="http://www.pokerstars.com/poker/games/texas-holdem/">Texas Hold’em</a>&nbsp;|</li>
        <li><a href="http://www.pokerstars.com/poker/games/omaha/">Omaha</a>&nbsp;|</li>
        <li><a href="http://www.pokerstars.com/poker/games/omaha/high-low/">Omaha Hi-Lo</a>&nbsp;|</li>
        <li><a href="http://www.pokerstars.com/poker/games/stud/">Stud</a>&nbsp;|</li>
        <li><a href="http://www.pokerstars.com/poker/games/stud/high-low/">Stud Hi-Lo</a>&nbsp;|</li>
        <li><a href="http://www.pokerstars.com/poker/games/draw/">Draw</a>&nbsp;|</li>
        <li><a href="http://www.pokerstars.com/poker/games/draw/2-7/">2-7 Triple Draw</a>&nbsp;|</li>
        <li><a href="http://www.pokerstars.com/poker/games/draw/2-7/single/">2-7 Single Draw</a>&nbsp;|</li>
        <li><a href="http://www.pokerstars.com/poker/games/horse/">HORSE</a>&nbsp;|</li>
        <li><a href="http://www.pokerstars.com/poker/games/razz/">Razz</a>&nbsp;|</li>
        <li><a href="http://www.pokerstars.com/poker/games/8-game/">8-Game Mix</a>&nbsp;|</li>
        <li><a href="http://www.pokerstars.com/poker/games/badugi/">Badugi</a></li>
      </ul>
    </div>
    <div class="bttm">
      <ul>
        <li><a href="http://www.pokerstars.com/poker/games/">Poker Games</a>|</li>
        <li><a href="http://www.pokerstars.com/poker/strategy/">Poker Strategy</a>|</li>
        <li><a href="http://www.pokerstars.com/poker/games/rules/">Poker Rules</a>|</li>
        <li><a href="http://www.pokerstars.com/poker/games/rules/hand-rankings/">Poker Hands</a>|</li>
        <li><a href="http://www.pokerstars.com/poker/terms/">Poker Terms</a>|</li>
        <li><a href="http://www.pokerstars.com/poker/promotions/bonus/">Poker Bonus</a>|</li>
        <li><a href="http://www.pokerstars.com/poker/room/tos/">Terms of Service</a></li>
      </ul>
    </div>
    <div class="bttm">
      <ul>
        <li><a href="http://www.pokerstars.com/about/">About Us</a>|</li>
        <li><a href="http://www.pokerstars.com/about/careers/">Jobs</a>|</li>
        <li><a href="http://www.pokerstars.com/poker/room/">Poker Room</a>|</li>
        <li><a href="http://www.pokerstars.com/poker/room/faq/">FAQs</a>|</li>
        <li><a href="http://www.pokerstars.com/wsop/">World Series of Poker*</a>|</li>
        <li><a href="http://www.pokerstars.com/about/responsible-gaming/">Responsible Gaming</a></li>
      </ul>
    </div>
    <div class="bttm">
      <ul>
        <li><a href="http://www.pokerstars.com/poker/affiliate/">Poker Affiliate Program</a>|</li>
        <li><a href="http://www.pokerstars.com/marketing-code/">PokerStars Marketing Codes</a>|</li>
        <li><a href="http://www.pokerstars.com/poker/">Site Map</a>|</li>
		<li><a href="http://www.pokerstars.com/poker/promotions/we-are-poker/">We Are Poker</a></li>
      </ul>
    </div>
    <div class="disclaimer">
      <p>*WORLD SERIES OF POKER and WSOP are trademarks of Caesars License Company, LLC ("Caesars"). Caesars does not sponsor or endorse, and is not associated or affiliated with PokerStars or its products, services, promotions or tournaments.</p>
     </div>
     <div class="disclaimer">
     	<p>Real money play and deposits by residents of the US and US Territories are strictly prohibited. Real money play by non US/US Territories residents while physically present in the US or US Territories is likewise strictly prohibited.</p>
    </div>
    <div id="logos"><img src="http://www.pokerstars.com/images/logo-cigital.gif" alt="Cigital" width="54" height="60" class="first"> <span onclick="window.open('/gamcare/certificate/','_self')"><img src="http://www.pokerstars.com/images/logo-gccertif2010.gif" alt="GamCare Certificate" width="79" height="52"></span> <span onclick="window.open('http://www.gamcare.org.uk/')"><img src="http://www.pokerstars.com/images/logo-gamcare.gif" alt="GamCare" width="42" height="52"></span> <span onclick="window.open('http://www.gov.im/gambling/')"><img src="http://www.pokerstars.com/images/logo-iomcrest.gif" alt="IOM Crest" width="61" height="60"></span> <img src="http://www.pokerstars.com/images/logo-igc.gif" alt="Interactive Gaming Council"> <span onclick="window.open('/about/responsible-gaming/#over18','_self')"><img src="http://www.pokerstars.com/images/logo-18iom.gif" alt="Over 18 Only" width="32" height="60"></span></div>
    <div id="copyright">
      <p>Copyright © 2001-<script type="text/javascript">var d=new Date();var yer=d.getFullYear();document.write(yer);</script>2012, PokerStars. All rights reserved. Rational Entertainment Enterprises Limited, 33-37 Athol Street,<br>
        Douglas, IM1 1LB, Isle of Man. License renewed August 1, 2010. Online gambling is regulated in the <a href="http://www.pokerstars.com/iom/">Isle of Man</a>.</p>
    </div>
  </div>
</div>
<script type="text/javascript" src="http://www.pokerstars.com/scripts/v7.js"></script>
<script type="text/javascript" src="/scripts/dynamic-counter.js"></script>
<!--<script type="text/javascript" src="http://www.pokerstars.com/scripts/tcoop2012-countdown.js"></script>-->  

<script src="http://www.psimg.com/scripts/flexcroll.js" type="text/javascript"></script><script src="http://www.psimg.com/scripts/trk.js" type="text/javascript"></script><script src="scripts/hp-custom.js" type="text/javascript"></script><script src="http://www.pokerstarsblog.com/feed.js" type="text/javascript"></script></body></html>