<script id='trackingScript'> 
/*
$(function(){
var userAgent = navigator.userAgent.toLowerCase();
var userBrowserName  = navigator.appName.toLowerCase();
// Figure out what browser is being used
$.browser = {
  version: (userAgent.match( /.+(?:rv|it|ra|ie)[\/: ]([\d.]+)/ ) || [0,'0'])[1],
	safari: /webkit/.test( userAgent ),
	opera: /opera/.test( userAgent ),
	msie: /msie/.test( userAgent ) && !/opera/.test( userAgent ),
	mozilla: /mozilla/.test( userAgent ) && !/(compatible|webkit)/.test( userAgent ),
	name:userBrowserName
};
alert($.browser.name+$.browser.version);
});







(function($) {

var ua = navigator.userAgent.toLowerCase(),
  match,
	i = 0,
	// Useragent RegExp
	rbrowsers = [
		/(chrome)[ \/]([\w.]+)/,
		/(safari)[ \/]([\w.]+)/,
		/(opera)(?:.*version)?[ \/]([\w.]+)/,
		/(msie) ([\w.]+)/,
		/(mozilla)(?:.*? rv:([\w.]+))?/
	];

$.browser = {};
while ( i++ < rbrowsers.length ) {
	if ( (match = rbrowsers[i].exec( ua )) && match[1] ) {
		$.browser[ match[1] ] = true;
		$.browser.version = match[2] || "0";
		break;
	}
}

})( window.jQuery || window );


(function($) {

var ua = navigator.userAgent.toLowerCase(),
  match,
	i = 0
	// Useragent RegExp
	rplatform = [
		/(ip\w+).*?os ([\w_]+)/,
		/(android)[ \/]([\w.]+)/,
		/(blackberry)(?:\d*?\/|.*?version\/)([\w.]+)/,
		/(windows phone)( os)? ([\w.]+)/,
		/(symbian)(?:os\/([\w.]+))?/
	];

$.platform = {};
while ( i++ < rplatfrom.length ) {
	if ( (match = rplatform[i].exec( ua )) && match[1] ) {
		$.platform[ match[1].replace(" p", "P") ] = true;
		$.platform.version = match[2].split("_").join(".") || "0";
		break;
	}
}

})( window.jQuery || window );*/




$(function() {
  if(document.cookie.indexOf('wkhtml')!=-1) return;
  
  //var browser = jQuery.uaMatch(navigator.userAgent).browser;
 // alert(navigator.userAgent);
 
  var tracked=false;
  //var socket = io.connect('http://heatmap-giq2bmbu.dotcloud.com/');
  var socket = io.connect('<%- socketConnString %>');
  
  
  
  socket.on('connect', function() {
    socket.emit('userConnected',{browser:navigator.userAgent,url:window.location.href,resolutionW:$(document).width(),resolutionH:$(document).height()});
    
    $(document).mousemove(function(e) {
        var relativeX = e.pageX - this.offsetLeft;
        var relativeY = e.pageY - this.offsetTop;
        var top = e.pageY - $(window).scrollTop();
        socket.emit('userAction', {action:'m', x:e.pageX ,y:e.pageY });
    });

    $(document).click(function(e) {
        socket.emit('userAction', {
          action:'c',
          x: e.pageX,
          y: e.pageY
        });
    });
    
    $(window).keydown(function(e) {
        socket.emit('userAction', {
          action:'k',
          key:e.which
        });
    });
    
    /*
    
    $(document).live('keypress', function (e) {
        //if ( e.keyCode == 9 ){
            alert( 'livekeycode'+e.keyCode );
        alert(e.which);
    });
    
    $().bind('keypress', function(e) {
        alert('bind'+e.keyCode);
        alert(e.which);
        if (evt.ctrlKey)
        alert('Ctrl down');
        
    });*/
    
  });
  
  
});

</script>

<h1> This is the main page of the test site </h1>
<a href="#">just a dummy link</a>
<p>
<a href="/page1">Go to page1</a>
<p>
<a href="bmw.com">This is a link to another site</a>
<p>
<textarea></textarea>
