<script src='/javascripts/heatmap.js'></script>

<script>

$(function() {
  var heatmap;
  
  var config = {
    "radius": 10,
    "element": "canvasHeatmap",
    "visible": true,
    "opacity": 40//,
   // "gradient": { 0.45: "rgb(0,0,255)", 0.55: "rgb(0,255,255)", 0.65: "rgb(0,255,0)", 0.95: "yellow", 1.0: "rgb(255,0,0)" }
  };

  
  $('#mouseCursor').css('display','none');
  
  var svgMouseClick,circle;
  $('#svgSircle').svg({onLoad: function(svg){svgMouseClick=svg;}});
  
  function drawMouseClick(x,y){
    var r=2;
    var circle=svgMouseClick.circle(x-r/2, y-r/2, r, {fill:'none',stroke: 
    'red', strokeWidth: 5}); 
    $(circle).animate({svgR: 30, svgStroke: 'pink'}, 500,function(){
      $(this).remove();
    });
  }
  
  var socket = io.connect('<%- socketConnectionString %>');
  socket.on('connect', function() {
    $("#pageList").slideToggle("fast");
    
    
    
    
    socket.emit('adminConnected');
    
    $('#pageListTitle').click(function(){
        $('#pageListTitle').toggleClass('userListTitleClicked');
        $("#pageList").slideToggle("fast");
        
        socket.emit('adminWantsUrlsList',function(pageList){
          $("#pageList").empty();
          for(i in pageList){
            var page=pageList[i];
            $("#pageList").append("<div class='user' url='"+ page._id +"'>"+page._id +"</div>");
          }
            
          $(".user").click(function(){
            $('#canvasHeatmap').empty();
            $(this).parent().children().removeClass('selectedUser');
            $(this).removeClass('user');
            $(this).addClass('selectedUser');
            socket.emit('adminWantsToGlobalLiveHeatmap','c',$(this).attr('url'),1920,1800,function(result){
              alert('no images that size');
            });
            
          });
        });
     });
    
    
    
    socket.on('imageToAdminSent',function(img){
      //alert('new image came'+img);
      $('#newImg').attr('src',img);
      $('#newImg').addClass('newImg');
      //$('#mouseCursor').css('display','block');
      
      $('#canvasHeatmap').first().width(1920); //$('#newImg').width());
      $('#canvasHeatmap').first().height(1800); //$('#newImg').width());
      heatmap = heatmapFactory.create(config);
      
      //$('canvas').first().height($('#newImg').height());
      
    });
    
    
    socket.on('userAction', function(action) {
      
      
      if(action.action=='m'){
        
        //$("#mouseCursor").css('top',action.y);
        //$("#mouseCursor").css('left',action.x);
      }
      
      if(action.action=='c'){
        heatmap.store.addDataPoint(action.x, action.y);
        //click mouse
        //$('svg').width($('#newImg').width());
        //drawMouseClick(action.x,action.y);
      }
      
      if(action.action=='k'){
        //key press
      }
    });
    
  });
  
  
  
});

</script>

<div id="pageListTitle" class="pageListTitle">Push me to choose the page</div>
<div id="pageList"></div>
<div id="pageContainer">
  <div id="svgSircle"></div>
  <img id='mouseCursor' src="images/cursor.png"  />
  <img id="newImg"></img>
<div id="canvasHeatmap"></div>
