<script src='/javascripts/heatmap.js'></script>
<script src="javascripts/calendrical.js"></script>
<link type="text/css" href="stylesheets/calendrical.css" rel="stylesheet">

<script>
  $(function() {try{
    $('#dateTimePicker1').datetimepicker();
  }catch(e){alert(e);}
  
  $('#dt_date_start, #dt_time_start,' +  '#dt_date_end,   #dt_time_end').calendricalDateTimeRange({isoTime:'24',timeInterval:1});
    
  });
</script>

<script>

$(function() {
  
  
  
  
  
  var heatmap;
  
  var config = {
    "radius": 10,
    "element": "canvasHeatmap",
    "visible": true,
    "opacity": 40//,
   // "gradient": { 0.45: "rgb(0,0,255)", 0.55: "rgb(0,255,255)", 0.65: "rgb(0,255,0)", 0.95: "yellow", 1.0: "rgb(255,0,0)" }
  };

  
  $('#mouseCursor').css('display','none');
  
  var svgMouseClick,circle;
  $('#svgSircle').svg({onLoad: function(svg){svgMouseClick=svg;}});
  
  function drawMouseClick(x,y){
    var r=2;
    var circle=svgMouseClick.circle(x-r/2, y-r/2, r, {fill:'none',stroke: 
    'red', strokeWidth: 5}); 
    $(circle).animate({svgR: 30, svgStroke: 'pink'}, 500,function(){
      $(this).remove();
    });
  }
  
  var socket = io.connect('<%- socketConnectionString %>');
  socket.on('connect', function() {
    $("#pageList").slideToggle("fast");
    
    socket.emit('adminConnected');
    
    $('#pageListTitle').click(function(){
        $('#pageListTitle').toggleClass('userListTitleClicked');
        $("#pageList").slideToggle("fast");
        
        socket.emit('adminWantsUrlsList',function(pageList){
          $("#pageList").empty();
          for(i in pageList){
            var page=pageList[i];
            $("#pageList").append("<div class='user' url='"+ page._id +"'>"+page._id +"</div>");
          }
            
          $(".user").click(function(){
            $('#canvasHeatmap').empty();
            $('#newImg').removeAttr('src');
            $(this).parent().children().removeClass('selectedUser');
            $(this).removeClass('user');
            $(this).addClass('selectedUser');
            
            var dates={};
            
            dates.startDate=$('#dt_date_start').val().split('/');
            dates.startTime=$('#dt_time_start').val().split(':');
            dates.endDate=$('#dt_date_end').val().split('/');
            dates.endTime=$('#dt_time_end').val().split(':');
            
            var startDate=new Date(dates.startDate[2],dates.startDate[1]-1,dates.startDate[0],dates.startTime[0],dates.startTime[1]);
            var endDate=new Date(dates.endDate[2],dates.endDate[1]-1,dates.endDate[0],dates.endTime[0],dates.endTime[1]);
                        
            socket.emit('adminWantsToRetroGlobalMoves','c',$(this).attr('url'),1920,1800,startDate,endDate,function(result){
              if(!result)
                alert('no actions during this time');
              else {
                //heatmap.store.setDataSet({ max: 10, data: [{x: 10, y: 20, count: 5}, ...]});
                
                heatmap.store.setDataSet({ max: 10, data: result});
                heatmap.store.addDataPoint(2, 2);
                heatmap.store.addDataPoint(2, 2);
                heatmap.store.addDataPoint(2, 2);
              }
            });
            
          });
        });
     });
    
    socket.on('imageToAdminSent',function(img){
      //alert('new image came'+img);
      $('#newImg').attr('src',img);
      $('#newImg').addClass('newImg');
      //$('#mouseCursor').css('display','block');
      
      //$('canvas').first().height($('#newImg').height());
      
      $('#canvasHeatmap').first().width(1920); //$('#newImg').width());
      $('#canvasHeatmap').first().height(1800); //$('#newImg').width());
      heatmap = heatmapFactory.create(config);
    });
    
    socket.on('userAction', function(action) {
      
      if(action.action=='m'){
        
        //$("#mouseCursor").css('top',action.y);
        //$("#mouseCursor").css('left',action.x);
      }
      
      if(action.action=='c'){
        //heatmap.store.addDataPoint(action.x, action.y);
        //click mouse
        //$('svg').width($('#newImg').width());
        //drawMouseClick(action.x,action.y);
      }
      
      if(action.action=='k'){
        //key press
      }
    });
    
  });
  
  
  
});

</script>


<p>
    <strong>From:</strong>
    <input id="dt_date_start" type="text" />
    <input id="dt_time_start" type="text" />
</p>
<p>
    <strong>To:</strong>
    <input id="dt_date_end"   type="text" />
    <input id="dt_time_end"   type="text" />
</p>

<div id="pageListTitle" class="pageListTitle">Push me to choose the page</div>
<div id="pageList"></div>
<div id="pageContainer">
  <div id="svgSircle"></div>
  <img id='mouseCursor' src="images/cursor.png"  />
  <img id="newImg"></img>
<div id="canvasHeatmap"></div>
